
@model CarInsuranceAppMVC.Models.Quote


<div class="'row no-gutters m-3">
    <div class="card col-sm-12 col-md-12 col-lg-8 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Submit Your Quote Request</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
            {
            <div class="row no-gutters">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-md-12">
                    @*<input name="FirstName" type="text" class="form-control" placeholder="First Name" autofocus />*@
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @name = "LastName", @type = "text", @placeholder = "Last Name" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12">
                    @*<input name="LastName" type="text" class="form-control" placeholder="Last Name" />*@
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @name = "LastName", @type = "text", @placeholder = "Last Name" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12">
                    @*<input name="Email" type="email" class="form-control" placeholder="Email Address" />*@
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @name = "Email", @type = "text", @placeholder = "Email Address" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12">
                    @*<input name="BirthDate" type="text" class="form-control" placeholder="Date of Birth" onfocus="(this.type='date')" onblur="(this.type='text')" />*@
                    @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", @name = "BirthDate", @type = "text", @placeholder = "Date of Birth", @onfocus = "(this.type='date')", @onblur = "(this.type='text')" } })
                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12">
                    @*<input name="CarYear" type="number" class="form-control" placeholder="Car Year" />*@
                    @Html.EditorFor(model => model.CarYear, new { htmlAttributes = new { @class = "form-control", @name = "CarYear", @type = "number", @placeholder = "Car Year" } })
                    @Html.ValidationMessageFor(model => model.CarYear, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12">
                    @*<input name="CarMake" type="text" class="form-control" placeholder="Car Make" />*@
                    @Html.EditorFor(model => model.CarMake, new { htmlAttributes = new { @class = "form-control", @name = "CarMake", @type = "text", @placeholder = "Car Make" } })
                    @Html.ValidationMessageFor(model => model.CarMake, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12">
                    @*<input name="CarModel" type="text" class="form-control" placeholder="Car Model" />*@
                    @Html.EditorFor(model => model.CarModel, new { htmlAttributes = new { @class = "form-control", @name = "CarModel", @type = "text", @placeholder = "Car Model" } })
                    @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12">
                    @*<input name="DUI" type="number" class="form-control" placeholder="How many DUI citations total" />*@
                    @Html.EditorFor(model => model.DUI, new { htmlAttributes = new { @class = "form-control", @name = "DUI", @type = "number", @placeholder = "How many DUI citations total?" } })
                    @Html.ValidationMessageFor(model => model.DUI, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12">
                    @*<input name="Tickets" type="number" class="form-control" placeholder="How many traffic tickets in past year" />*@
                    @Html.EditorFor(model => model.Tickets, new { htmlAttributes = new { @class = "form-control", @name = "Tickets", @type = "number", @placeholder = "How many traffic tickets in past year?" } })
                    @Html.ValidationMessageFor(model => model.Tickets, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12">
                    @*<input name="Coverage" type="number" class="form-control" placeholder="1-Full coverage or 2-Liability Only" />*@
                    @Html.EditorFor(model => model.Coverage, new { htmlAttributes = new { @class = "form-control", @name = "Coverage", @type = "number", @placeholder = "1-Full coverage or 2-Liability Only" } })
                    @Html.ValidationMessageFor(model => model.Coverage, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-block btn-primary mt-4 mb-4">Submit</button>
            </div>
            }
        </div>
    </div>
</div>