@model IEnumerable<ScheduleIt2.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.DateSent)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.DateRead)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MessageTitle)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRead)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnreadMessage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageID })
        </td>
    </tr>
}

</table>
