@model ScheduleIt2.Models.TimeOffEvent

@{
    ViewBag.Title = "Create";
}

<h2>Request Time Off</h2>

<br/>


@* This shows the calendar *@
<div id="calendar"></div>

@* Modal for when the user clicks on a date to be able to enter information *@
<div id="timeOffModal" class="modal">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h3>Please Enter The Details of Your Time Off</h3>
                <hr />
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.Date} })
                        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                        <p>MM/DD/YYYY</p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.End, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.Date } })
                        @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
                        <p>MM/DD/YYYY</p>
                    </div>
                </div>                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                        <div class="btn btn-default closeModal">Close</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
