@model GigHub.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="gigs">
    @Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.IsFollowing)
        {
            <button class="btn btn-info js-toggle-follow" data-user-id="@Model.Gig.ArtistId">Following</button>
        }
        else
        {
            <button class="btn btn-default js-toggle-follow" data-user-id="@Model.Gig.ArtistId">Follow</button>
        }
    }
</h2>
<br />
<p>
    Performing at <strong>@Model.Gig.Venue</strong> on <strong>@Model.Gig.DateTime.ToString("d MMM")</strong> at <strong>@Model.Gig.DateTime.ToString("HH:mm")</strong>
    @if (User.Identity.IsAuthenticated && Model.IsAttending)
    {
    <p style="color: green"><strong>You are going to this event.</strong></p>
}
    </p>


@section scripts
{
    <script>
        $(document).ready(function () {
            GigsController.init("#gigs");
        });
    </script>
    }
